.mouse {
    font-size: 40px;
    width: 10em;
    height: 16em;
    border: 0.5em solid #fff;
    position: relative;
}

.mouse::after {
    content: '';
    display: block;
    width: 1.3em;
    height: 2em;
    background-color: #fff;
    position: absolute;
    top: 0em;
    left: 5%;
    transform: translateX(-50%);
    animation-name: scrolling;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}



@keyframes scrolling {
    0% {
        top: 0em;
        background-color: #ffff;
    }
    10% {
        background-color: #ffff;
        top: 13em;
    }
    20% {
        
    }
    100% {
        
      
    }
}
@keyframes moving{
    
}